@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    background-image: url("back.jpg");
	background-size: cover;
    margin: 0px;
}

@font-face {
	font-family: "Fixedsys Excelsior 3.01 Regular";
	src: url(./FSEX300.ttf);
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Fixedsys Excelsior 3.01 Regular";
    color: #fff;
    margin-bottom: .25em;
}

#search {
    width: 100%;
    height: 100vh;
    background-image:url("back.jpg");
	background-size: cover;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .5em .05em;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    border: solid 0px rgba(0,0,0,0.5);
    font-family: "Fixedsys Excelsior 3.01 Regular";
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.weather-container {
    width: 30%;
    background-color: rgba(0,0,0,0.75);
    padding: 1em;
    border-radius: 3px;
    font-family: "Fixedsys Excelsior 3.01 Regular";
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: rgba(0,0,0,0.75);
    border-radius: 3px;
    font-family: "Fixedsys Excelsior 3.01 Regular";
    font-size: .95rem;
    width: 25%;
    height: 10em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #fff;
}
